
body {
    font-family: 'Crimson Text', serif !important;
    font-size: 18px !important;

    h1, h2, h3, blockquote {
        font-family: 'PT Sans', sans-serif;
    }

    h3 {
        font-size: 20px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 2rem;
    }
}